.second{
    position: relative;
    margin-bottom: 150px;
}

.second img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

.text-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: x-large;
    font-weight: 600;
    color: white !important;
    /* background-color: black; */
    padding: 20px;
    text-align: center;
    z-index: 5;
    opacity: 0.7;
}

.text-content:hover{
    opacity: 4 ;
}

.text-content span {
    color: var(--main);
    font-size: xx-large;
}