@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap");

/* Global variable */
:root {
  --main: #02abff;
}

* {
  font-family: "Reddit Mono", monospace;
  transition: 0.7s;
}

*::selection{
  background: var(--main);
  color: #fff;
}

.btn {
  width: 300px;
  background-color: var(--main) !important;
  color: #fff;
  border-radius: 15px;
}

.btn:hover {
  letter-spacing: 3px;
  width: 320px;
}

html::-webkit-scrollbar{
  width: 10px;
}

html::-webkit-scrollbar-thumb{
  background: var(--main);
}

html::-webkit-scrollbar-track{
  background: #000;
}